<h2>Все посты:</h2>
<p>
<% @results.each do |post| %>
	<hr>
	<p>
		<h4><%= post['username'] %></h4>
		<br>
		<%= post['content'] %>
		<br>
		<span style="font-size: 90%, color: #999"> Добавлено: <%= post['created_date'] %></span>
		<br>
		<br/>
		<a href="/details/<%= post['id'] %>">Комментарии</a>
	</p>
	<hr/>
<% end %>
</p>