<h2>Добавить запись в блог:</h2>

<form action="/new" method="POST">
  <div class="form-group">
  	<label for="exampleInputText1">Укажите свое имя</label>
    <input name="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ваше имя">
   </div>
   <div class="form-group">
   	<label for="exampleFormControlTextarea1">Напишите ваш пост</label>
    <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="6" placeholder="Место для поста"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Добавить пост</button>
</form>